.App{
    background-image: url("https://i.guim.co.uk/img/media/d305370075686a053b46f5c0e6384e32b3c00f97/0_50_5231_3138/master/5231.jpg?width=1200&quality=85&auto=format&fit=max&s=dfc589d3712148263b1dd1cb02707e91");
    min-width:100%;
    min-height:100%;
    background-size:height;
    background-position: center;
}